---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Events from '../components/Events.astro';
import Reminders from '../components/Reminders.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar></Navbar>
		<Reminders></Reminders>
		<Contact></Contact>
	</main>
</Layout>

<style>
	main {
		margin-top: 1rem;
	}
</style>
