<section>
  <header>
    <h4>Announcements & Events</h4>
  </header>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  header {
    h4 {
      font-size: 24px;
    }
  }
</style>