<section>
  <header>
    <h3>PTV Newsletter</h3>
    <nav>
      <p id="Events">Events</p>
      <p id="Reminders">Reminders</p>
      <p id="Contact">Contact</p>
    </nav>
  </header>
</section>

<style>
  section {
    background-color: white;
    box-shadow: 5px 5px 5px 1px rgba(117,117,117,0.75);
    -webkit-box-shadow: 5px 5px 5px 1px rgba(117,117,117,0.75);
    -moz-box-shadow: 5px 5px 5px 1px rgba(117,117,117,0.75);
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 15px;

    h3 {
      font-size: 40px;
      margin-bottom: 0;
    }
  }

  nav {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 24px;

    p {
      margin-bottom: 0;
    }
  }

</style>